html.light-theme {
  background-color: #EEEEEE;
}

html.dark-theme {
  background-color: #222831;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  margin: 16px 28px;
  min-width: calc(100% - 56px);
  min-height: calc(100vh - 32px);
  text-align: center;
  flex-direction: column;
  gap: 16px;
}

.search-input {
  width: 35%;
}

.task-list {
  height: 76vh;
}

.task-card {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-card-body {
  text-align: start;
}

.ant-card>.ant-card-actions {
  border-top: none;
}

.ant-card>.ant-card-actions>li {
  margin: 0;
}

.theme-button {
  inset-inline-end: 8;
  inset-block-end: 12;
}

.ant-list-items {
  height: calc(80vh - 48px);
  overflow-y: scroll;
}

.ant-list-items::-webkit-scrollbar {
	width: 8px;
}

.ant-list-items::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #595e9b;
}