body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  margin: 16px;
  min-width: calc(100% - 32px);
  min-height: calc(100vh - 32px);
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

